body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

/* Header  */
.header {
  height: 95px;
  text-align: center;
}

header h1 {
  font-family: "Rubik Vinyl", cursive;
  font-size: 700;
  color: white;
  font-size: 50px;
  letter-spacing: 3px;
}

/*  card */
.card {
  height: 300px;
  width: 1300px;
  margin: 10px;
  padding: 10px;
  margin: auto;
}
/*  img */
img {
  width: 350px;
  float: left;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 20px;
  box-shadow: 0px 21px 19px 11px rgba(0, 0, 0, 0.1);
}
img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* h3 */
h3 {
  color: #f4a460;
  font-size: 32px;
  font-weight: 700;
  text-shadow: 2px 5px 5px rgb(73, 68, 68);
}

/* p */
p {
  text-shadow: 2px 5px 5px rgb(73, 68, 68);
  color: white;
  font-weight: 700;
  width: 900px;
  text-align: center;
  margin-left: 400px;
  height: 100px;
  font-size: 20px;
}

/* button */

button {
  float: right;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #ff7f50;
  height: 45px;
  width: 120px;
}

button:hover {
  cursor: pointer;
  font-weight: 700;
  height: 50px;
  width: 130px;
}
/* a */
a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* cards  */
.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7 {
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px 2px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px 0px, rgba(0, 0, 0, 0.09) 0px 8px 4px 0px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px 10px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px 10px;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  text-align: center;
}

/* Responsive Calısma */

@media screen and (min-width: 700px) and (max-width: 1200px) {
  body {
    background: rgb(211, 84, 139);
  background: radial-gradient(
    circle,
    rgb(100, 179, 212) 0%,
    rgb(11, 145, 217) 100%
  );
  }

  button {
    float: left;
    margin-left: 50px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #ff7f50;
    height: 45px;
    width: 120px;
  }
  h3 {
color: #f4a460;
font-size: 32px;
font-weight: 700;
display: inline-block;
margin-right: 550px;
text-shadow: 2px 5px 5px rgb(73, 68, 68);

}


p{

text-shadow: none;
color: black;
width: 400px;
text-align: center;
height:auto;
font-size: 16px;


}

}
@media screen and (min-width: 100px) and (max-width: 700px) {
 

    .card {
        height: 400px;
        width: 500px;
        margin: 10px;
        padding: 10px;
        margin: auto;
        
      }

      img {
        width: 40%;
        height: 80%;
        float: left;
        border-radius: 20px;
        margin-top: 30px;
        margin-left: 10px;
        box-shadow: 0px 21px 19px 11px rgba(0, 0, 0, 0.1);
      }

      .card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7 {
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: rgba(207, 184, 184, 0.09) 0px 2px 1px 2px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px 0px, rgba(220, 89, 89, 0.09) 0px 8px 4px 0px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px 10px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px 10px;
  background-color: #cce1ef;
  background-image: linear-gradient(135deg, #d4e1ea 0%, #e8e8ef 100%);
  text-align: center;
}
h3 {
    color: #f4a460;
    font-size: 24px;
    font-weight: 700;
  text-shadow: none;
  }

  p {
text-shadow: none;
color: black;
width: 400px;
margin-left: 100px;
text-align: center;
height:auto;
font-size: 16px;

text-align: center;
  }

  button {
    float: right;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #ff7f50;
    height: 45px;
    width: 120px;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
}
